.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;

  div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  h2 {
    font-size: 8rem;
  }

  p {
    margin-bottom: 2rem;
  }
}
